* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #000;
  overflow: hidden;
}
p {
  text-align: justify;
  font-weight: 800;
  font-family: Roboto;
  height: 100vh;
  color: transparent;
  background: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fvignette1.wikia.nocookie.net%2Fcreation%2Fimages%2Ff%2Ffa%2FBest-rick-roll-gif-577.gif%2Frevision%2Flatest%3Fcb%3D20160515183412&f=1&nofb=1);
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: -1px;
  line-height: 0.94em;
}
